body {
    margin-top: 50px;
    display: flex;
    justify-content: center;  
    background-image:url(folha.jpg);
    color: rgb(9, 0, 0);
    font-family: "Sour Gummy";
 
.login {
    display:flex;
    justify-content: center;
    align-itens: center;
    background-color: rgb(0, 0, 0);
    padding: 90px;
    border-radius: 25px;
    color: white;
}
.text {
    padding: 10px;
    border: 1mm;
    outline: 1mm;
    font-size: 15px;
    border-radius: 10px;
}

button {
background-color: blue;
border-radius: 8px;
padding: 15px;
color: white;
font-size: 20px;
}
button:hover {
    background-color: deepskyblue;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

} 